/* Global styles */

@font-face {
    font-family: 'Inter';
    src: url("Inter-Bold.ttf");
}

@font-face {
    font-family: 'Inter light';
    font-style: normal;
    src: url("Inter-Light-BETA.ttf");
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #595151;
    background-image: url("mysmply.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
    color: #fff;
}

h1:hover {
    color: #443B3B;
    transition: 0.5s ease;
}


h2 {
    position: absolute;
    top: 43.75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter light';
    font-size: 25px;
    color: #fff;
}

h3 {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter light';
    font-size: 10px;
    color: #fff;
    transition: 0.5s ease;
}
a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    transition: 0.3s ease;
    color: #000000;
  }

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    text-align: center;
    color: #fff;
    background: #cfaaee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px #000000 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.5s;
}

.select-clicked {
    border: 0px #171313 solid;
    box-shadow: 0 0 0.8em #278f92;
}

.select:hover {
    color: #A89A9A;
    background: #330d69;
}

.caret {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    text-align: center;
    list-style: none;
    padding: 0.2em 0.5em;
    background: #8ebcd6;
    border: 0px #443B3B solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #fff;
    position: absolute;
    top: 3em;
    width: 100%;
    opacity: 0;
    display: none;
    transition: 0.3s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;

}

.menu li:hover {
    background: 0;
}

.dropdown:hover .menu {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }

.active {
    background: #f8cbc7;
}

.menu-open {
    display: block;
    opacity: 1;
  }

 